In [1]:
import pandas as pd

**loading the data**

In [12]:
id_df=pd.read_excel('/id_input.xlsx',header=1)

In [13]:
team_df=pd.read_excel('/team_id.xlsx')

**Merging the two tabel into one**

In [18]:
merged_df=pd.merge(id_df,team_df)

In [22]:
merged_df=merged_df.drop(['name','uid'],axis=1)

**Team Table**

In [31]:
merged_df['Team Name'].replace({'Brandtech Lab':'BrandTech Lab'},inplace=True)

In [65]:
team_wise=merged_df.groupby('Team Name')[['total_statements','total_reasons']].mean().sort_values(ascending=False,by='total_statements')

In [69]:
team_wise[['total_statements','total_reasons']]=team_wise[['total_statements','total_reasons']].round(2)

In [78]:
team_wise

                     total_statements  total_reasons
Team Name
Winning Culture Lab             12.67          16.00
Tech Lab                         9.00          10.00
Mentor                           7.33           7.67
Student Unicorn Lab              7.33           6.33
Growpital                        5.00           5.67
BrandTech Lab                    4.50           5.50
Kringle                          4.50           4.50
Human Capital Lab                2.00           4.50

**individual table**

In [38]:
user_rank=merged_df[['Name','User ID','total_statements','total_reasons']]

In [39]:
user_rank['total_score']=user_rank['total_statements']+user_rank['total_reasons']

<ipython-input-39-eabd58f09956>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_rank['total_score']=user_rank['total_statements']+user_rank['total_reasons']

In [106]:
user_table=user_rank.sort_values(by=['total_score','Name'],ascending=[False,True])[['Name','User ID','total_statements','total_reasons','total_score']]

In [107]:
user_table.drop('total_score',axis=1,inplace=True)

In [108]:
user_table.reset_index(inplace=True)

In [110]:
user_table.drop('index',axis=1,inplace=True)

In [111]:
user_table

             Name  User ID  total_statements  total_reasons
0         Ronak 0      302                16             19
1       Soumita M      280                13             21
2      Subhangi 0       75                13             16
3          Merwin      295                13             12
4     Nitin Shane     1124                12             11
5          Ayisha     3406                11              8
6        imshawan       71                 9              9
7         sharath     3367                 8              8
8    Anuraj_Saini      342                 7              7
9         Saurabh      271                 6              8
10       devmenkr      360                 7              7
11         Palash       69                 6              7
12          raman      539                 5              5
13        Nishant      299                 4              5
14  __riddhi_213_      504                 2              7
15  Amrit Malviya      336                 2              4
16    Rohit Dutta      266                 3              3
17    darshimalde     3169                 3              3
18         Shagun      100                 2              2
19         Vatsal     3408                 2              2
20  fardinkamal62      263                 2              2